<% provide(:title, "질문하기") %>
<%= debug @article %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.label :types, "타입" %>
      <%= f.select(:types, options_for_select(Article::TYPES, selected: @article.types), {}, class: "form-control input-lg", disabled: true) %>
      <%= f.hidden_field(:types) %>
      <%= f.hidden_field(:answered) %>
    </div>

    <div class="form-group">
      <%= f.label :title, "제목" %>
      <%= f.text_field :title, class: "form-control input-lg", placeholder: "제목을 적어주세요" %>
    </div>

    <div class="form-group">
      <%= f.label :content, "내용" %>
      <%= f.text_area :content, rows: 10, class: "form-control input-lg", placeholder: "내용을 적어주세요" %>
    </div>
      <%= f.submit "수정완료", class: "btn btn-lg btn-primary pull-right" %>
    <% end %>  
  </div>
</div>