<div class="panel panel-default">
  <div class="panel-heading">
     모든 주문내역 <span class="badge"><%= all_orders.count %></span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><span class="glyphicon glyphicon-user"></span>사용자</th>
          <th><span class="glyphicon glyphicon-phone"></span>연락처</th>
          <th><span class="glyphicon glyphicon-calendar"></span>픽업일</th>
          <th><span class="glyphicon glyphicon-calendar"></span>회송일</th>
          <th><%= bs_icon(:time, "주문시간") %></th>
        </tr>
      </thead>

      <tbody>
        <% all_orders.each do |order| %>
        <tr>
          <td><%= link_to(order.user.name, user_path(order.user)) %></td>
          <td><%= order.user.phone %></td>
          <td><%= order.pickup_datetime.strftime("%Y-%m-%d %H(+3)") %></td>
          <td><%= order.delivery_datetime.strftime("%Y-%m-%d %H(+3)") %></td>
          <td><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>