<div class="panel panel-default">
  <div class="panel-heading">
    신규 주문 <span class="badge"><%= new_orders.count %></span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><span class="glyphicon glyphicon-user"></span>사용자</th>
          <th><span class="glyphicon glyphicon-phone"></span>연락처</th>
          <th><span class="glyphicon glyphicon-calendar"></span>픽업일</th>
          <th><span class="glyphicon glyphicon-home"></span>픽업장소</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% new_orders.each do |new_order| %>
        <tr>
          <td><%= link_to(new_order.user.name, user_path(new_order.user)) %></td>
          <td><%= new_order.user.phone %></td>
          <td><%= new_order.pickup_datetime.strftime("%Y-%m-%d %H시(+3)") %></td>
          <td><%= new_order.pickup_address %></td>
          <td><%= link_to '입금확인 및 문자전송', admin_order_path(new_order), method: :patch, class: 'btn btn-sm btn-success' %></td>
          <td><%= link_to '보기', order_path(new_order), class: 'btn btn-sm btn-default' %></td>
          <td><%= link_to '수정', edit_order_path(new_order), class: 'btn btn-sm btn-warning' %></td>
          <td><%= link_to '삭제', order_path(new_order), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>