<div class="panel panel-default">
  <div class="panel-heading">
    픽업 대기 <span class="badge"><%= permitted_orders.count %></span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><span class="glyphicon glyphicon-user"></span>사용자</th>
          <th><span class="glyphicon glyphicon-phone"></span>연락처</th>
          <th><span class="glyphicon glyphicon-calendar"></span>픽업일</th>
          <th><span class="glyphicon glyphicon-home"></span>픽업장소</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% permitted_orders.each do |permitted_order| %>
        <tr>
          <td><%= link_to(permitted_order.user.name, user_path(permitted_order.user)) %></td>
          <td><%= permitted_order.user.phone %></td>
          <td><%= permitted_order.pickup_datetime.strftime("%Y-%m-%d %Hh") %></td>
          <td><%= permitted_order.pickup_address %></td>
          <td><%= link_to '픽업출발', admin_order_path(permitted_order), method: :patch, class: 'btn btn-sm btn-success' %></td>
          <td><%= link_to '보기', order_path(permitted_order), class: 'btn btn-sm btn-default' %></td>
          <td><%= link_to '수정', edit_order_path(permitted_order), class: 'btn btn-sm btn-warning' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>