<div class="panel panel-default">
  <div class="panel-heading">
    보관중 <span class="badge"><%= stored_orders.count %></span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= bs_icon :user, "사용자" %></th>
          <th><%= bs_icon :phone, "연락처" %></th>
          <th><%= bs_icon :calendar, "회송일" %></th>
          <th><%= bs_icon :home, "회송장소" %></th>
          <th><%= bs_icon :briefcase, "보관품" %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% stored_orders.each do |stored_order| %>
        <tr>
          <td><%= link_to(stored_order.user.name, user_path(stored_order.user)) %></td>
          <td><%= stored_order.user.phone %></td>
          <td><%= stored_order.delivery_datetime.strftime("%Y-%m-%d %Hh") %></td>
          <td><%= stored_order.delivery_address %></td>
          <td><%= render 'units/thumb', order: stored_order %></td>
          <td>
            <%= link_to '회송출발', admin_order_path(stored_order), method: :patch, class: 'btn btn-sm btn-success' %>
            <%= link_to '보기', order_path(stored_order), class: 'btn btn-sm btn-default' %>
            <%= link_to '수정', edit_order_path(stored_order), class: 'btn btn-sm btn-warning' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>