<% provide(:title, '관리자모드') %>
<div class="row" id="admin">
  <aside class="col-sm-2">
    <section>
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to '회원' %></li>
        <li><%= link_to '주문' %></li>
        <li><%= link_to '설정' %></li>
      </ul>
    </section>
  </aside>

  <div class="col-sm-10">
    <%= render 'admin/orders/ordered', new_orders: @new_orders %>
    <%= render 'admin/orders/permitted', orders_waiting_for_pickup: @orders_waiting_for_pickup %>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        금주 회송 <span class="badge">7</span>
      </div>
      <div class="panel-body">
        내용
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        신규 회원 <span class="badge">4</span>
      </div>
      <div class="panel-body">
        내용
      </div>
    </div>
    
  </div>

</div>