<div id="pricing" class="welcome-padding">
  <div class="page-header">
    <h3>요금확인</h3>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 well">
      <%= form_tag("/pricing", method: "get", remote: true, id: "pricing-form") do %>
      <div class="row">
        <div class="col-sm-6">
          <%= render 'welcome/pricing/unit' %>
        </div>
        <div class="col-sm-6">
          <%= render 'welcome/pricing/date' %>
          <%= render 'welcome/pricing/location2' %>
        </div>  
      </div>
      <% end %>
      <div class="row" id="result">
        <%= render 'welcome/pricing/result' %>
      </div>
    </div>
  </div>
</div>