<div class="row welcome-padding" id="usage">
  <div class="col-md-12">
    <%= image_tag("welcome/usage-header.jpg", class: "welcome-header") %>
    <div class="row">
      <div class="col-md-12">
        <%= image_tag("welcome/usage-1.jpg", class: "step-image") %>
        <%= image_tag("welcome/usage-arrow.jpg") %>
        <%= image_tag("welcome/usage-2.jpg", class: "step-image") %>
        <%= image_tag("welcome/usage-arrow.jpg") %>
        <%= image_tag("welcome/usage-3.jpg", class: "step-image") %>
        <%= image_tag("welcome/usage-arrow.jpg") %>
        <%= image_tag("welcome/usage-4.jpg", class: "step-image") %>
      </div>
    </div>
  </div>
</div>