<div class="row welcome-padding" id="usage">
  <div class="col-md-12">
    <%= image_tag("welcome/howtouse-header.png", class: "welcome-header") %>
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <%= image_tag("welcome/usage-1.jpg", class: "step-image") %>
          </div>
          <div class="col-sm-6 col-md-3">        
            <%= image_tag("welcome/usage-2.jpg", class: "step-image") %>
          </div>      
          <div class="col-sm-6 col-md-3">
            <%= image_tag("welcome/usage-3.jpg", class: "step-image") %>
          </div>
          <div class="col-sm-6 col-md-3">
            <%= image_tag("welcome/usage-4.jpg", class: "step-image") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>