<div class="row welcome-padding" id="use_report">
  <div class="col-md-12">
    <%= image_tag('welcome/review-header.png', class: "welcome-header") %>

    <div class="row">
      <div class="col-sm-3">

        <div class="thumbnail">
          <%= image_tag("welcome/review-1.png") %>
          <div class="caption">
            <p class="text-left">한국에 교환학생으로 6개월 머물렀어요. 방학기간 동안 일본에 돌아가야 하는데, 책과 문서들을 가지고 다닐 수가 없어서 아이엠박스에 맡겼어요. 직접 방문해서 짐들을 가져가시고, 새로 입주한 집까지 가져다 주기도 했어요. 외국인들한테 정말 좋은 서비스 라고 생각해요.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag("welcome/review-2.png") %>
          <div class="caption">
            <p class="text-left">집을 리모델링 했습니다. 리모델링하면서 쓸모 없는 짐을 버렸는데, 그래도 짐들이 너무 많았어요. 리모델링 하면서 버릴 수 없는 짐들을 아이엠박스에 맡겼어요. 일단 편리해서 좋고, 가격도 합리적인 것 같아요.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag("welcome/review-5.png") %>
          <div class="caption">
            <p class="text-left">1인 가구가 급증하면서, 많은 20 ~30대 들에게 필요한 서비스라고 생각합니다. 서비스 인지도가 쌓이고 배송 / 픽업이 원활하게 이루어지면 보관 뿐만 아니라, 다른 용도로도 많이 이용할 것 같아요.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag("welcome/review-4.png") %>
          <div class="caption">
            <p class="text-left">미국에서 공부하면서 Self Storage Service 를 여러번 이용했는데요. 한국에도 이런 서비스가 있어서, 조금 놀랬어요. 너무 편리해서 좋고요, 큰 짐들 뿐만 아니라 번화가에서 개인 짐들도 보관해주면 정말 좋을 거 같아요.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
