<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="order_pickup_datetime">보관일</label>
      <div class="row">
        <div class="col-sm-4">
          <%= select_year(@order.pickup_datetime || Date.today, {prefix: "order[pickup_datetime]", start_year: Time.now.year, end_year: Time.now.year+1, prompt: "년"}, {class: "form-control input-lg"}) %>
        </div>
        <div class="col-sm-4">
          <%= select_month(@order.pickup_datetime || Date.today, {prefix: "order[pickup_datetime]", use_month_numbers: true, prompt: "월"}, {class: "form-control input-lg"}) %>
        </div>
        <div class="col-sm-4">
          <%= select_day(@order.pickup_datetime || Date.today, {prefix: "order[pickup_datetime]", prompt: "일"}, {class: "form-control input-lg"}) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="order_delivery_datetime">회송일</label>
      <div class="row">
        <div class="col-sm-4">
          <%= select_year(@order.delivery_datetime || Date.today, {prefix: "order[delivery_datetime]", start_year: Time.now.year, end_year: Time.now.year+1, prompt: "년"}, {class: "form-control input-lg"}) %>
        </div>
        <div class="col-sm-4">
          <%= select_month(@order.delivery_datetime || Date.today, {prefix: "order[delivery_datetime]", use_month_numbers: true, prompt: "월"}, {class: "form-control input-lg"}) %>
        </div>
        <div class="col-sm-4">
          <%= select_day(@order.delivery_datetime || Date.today, {prefix: "order[delivery_datetime]", prompt: "일"}, {class: "form-control input-lg"}) %>
        </div>
      </div>
    </div>
  </div>
</div>