<div class="panel panel-default">
  <div class="panel-heading">
    물품보관 <span class="badge"><%= @user.orders.count %></span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= icon(:file, "주문") %></th>
          <th><%= icon(:calendar, "픽업") %></th>
          <th><%= icon(:calendar, "회송") %></th>
          <th><%= icon(:briefcase, "보관품") %></th>
        </tr>
      </thead>

      <tbody>
        <% @user.orders.each do |order| %>
        <tr>
          <td><%= link_to(order.why_ordering, order_path(order)) %></td>
          <td><%= order.pickup_datetime.strftime("%Y-%m-%d %Hh") %></td>
          <td><%= order.delivery_datetime.strftime("%Y-%m-%d %Hh") %></td>
          <td><%= render 'units/thumb', order: order%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
