<div class="panel panel-default" id="users_show">
  <div class="panel-heading">
    물품보관 <span class="badge"><%= @user.orders.count %></span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= bs_icon(:file, "주문") %></th>
          <th><%= bs_icon(:calendar, "픽업") %></th>
          <th><%= bs_icon(:calendar, "회송") %></th>
          <th><%= bs_icon(:briefcase, "보관품") %></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to(image_tag(order.units[0] ? order.units[0].img.url(:medium) : 'logo.jpg', alt: order.why_ordering), order_path(order), class: "order-img") %>
          </td>

          <td>
            <p><%= bs_label "주소" %> <%= order.pickup_address %></p>
            <p><%= bs_label "시간" %> <%= order.pickup_datetime.strftime("%Y-%m-%d %H시-") %><%= order.pickup_datetime.hour+3 %>시</p>
          </td>

          <td>
            <p><%= bs_label "주소" %> <%= order.delivery_address %></p>
            <p><%= bs_label "시간" %> <%= order.delivery_datetime.strftime("%Y-%m-%d %H시-") %><%= order.delivery_datetime.hour+3 %>시</p>
          </td>

          <td>
            <p>
              <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#order<%= order.id %>"><%= bs_icon("picture", pluralize(order.units.count, 'photo')) %></button>
            </p>
            <p><button type="button" class="btn btn-default btn-xs"><%= bs_icon("share-alt", "회송요청") %></button></p>
          </td>
        </tr>
        <%= render 'orders/photos', order: order %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
