<div class="panel panel-default">
  <div class="panel-heading">
    물품보관 <span class="badge"><%= @user.orders.count %></span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= bs_icon(:file, "주문") %></th>
          <th><%= bs_icon(:calendar, "픽업") %></th>
          <th><%= bs_icon(:calendar, "회송") %></th>
          <th><%= bs_icon(:briefcase, "보관품") %></th>
        </tr>
      </thead>

      <tbody>
        <% @user.orders.each do |order| %>
        <tr>
          <td><strong><%= link_to(order.why_ordering, order_path(order)) %></strong></td>
          <td>
            <p><%= bs_label "주소" %> <%= order.pickup_address %></p>
            <p><%= bs_label "시간" %> <%= order.pickup_datetime.strftime("%Y-%m-%d %Hh") %></p>
          </td>
          
          <td>
            <p><%= bs_label "주소" %> <%= order.delivery_address %></p>
            <p><%= bs_label "주소" %> <%= order.delivery_datetime.strftime("%Y-%m-%d %Hh") %></p>
          </td>
          
          <td><%= render 'units/thumb', order: order%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
