<div class="unit row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <%= image_tag(Unit::UNIT_IMAGE[:carrier], alt: "캐리어", class: "unit") %>
      <div class="caption">
        <h3><%= "캐리어" %></h3>
        <%= select_tag("order[unit_count][carrier]", options_for_select(Unit::UNIT_RANGE, selected: unit_count(@order, :carrier)), prompt: "수량", class: "form-control input-lg") %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <%= image_tag(Unit::UNIT_IMAGE[:regular], alt: "일반박스", class: "unit") %>
      <div class="caption">
        <h3><%= "일반박스" %></h3>
        <%= select_tag("order[unit_count][regular]", options_for_select(Unit::UNIT_RANGE, selected: unit_count(@order, :carrier)), prompt: "수량", class: "form-control input-lg") %>
      </div>
    </div>
  </div>
</div>