<% provide(:title, "서비스신청 수정") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for @order do |f| %>
    <%= render 'shared/error_messages', object: @order %>

    <div class="panel-group" id="accordion">

      <!-- 1. UNIT -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              1. 보관품 정보를 알려주세요!
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= render 'orders/unit', f: f %>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="btn btn-primary btn-lg pull-right" role="button">
              다음<span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>


      <!-- 2. DATE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              2. 보관기간을 알려주세요!
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render 'orders/date', f: f %>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="btn btn-primary btn-lg pull-left" role="button">
              <span class="glyphicon glyphicon-chevron-left"></span>이전
            </a>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="btn btn-primary btn-lg pull-right" role="button">
              다음<span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>


      <!-- 3. PICKUP & DELIVERY -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              3. 픽업장소와 회송장소를 알려주세요!
            </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render 'orders/address', f: f %>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="btn btn-primary btn-lg pull-left" role="button">
              <span class="glyphicon glyphicon-chevron-left"></span>이전
            </a>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="btn btn-primary btn-lg pull-right" role="button">
              다음<span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>


      <!-- 4. WHY -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              4. 보관목적을 알려주세요!
            </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render 'orders/why_ordering', f: f %>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="btn btn-primary btn-lg pull-left" role="button">
              <span class="glyphicon glyphicon-chevron-left"></span>이전
            </a>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="btn btn-primary btn-lg pull-right" role="button">
              다음<span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>


      <!-- 5. TERMS -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              5. 이용약관에 동의해주세요!
            </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render 'orders/terms', f: f %>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="btn btn-primary btn-lg pull-left" role="button">
              <span class="glyphicon glyphicon-chevron-left"></span>이전
            </a>
            <button class="btn btn-lg btn-primary pull-right" name="button" type="submit">
              동의<span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>