<% provide(:title, "Order") %>
<h1>New order</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(:order, url: orders_path) do |f| %>
      <%= f.label :num_boxes, :how_many %>
      <%= f.number_field :num_boxes, in: 1..10 %>

      <%= f.label :weeks_storage %>
      <%= f.number_field :weeks_storage, in: 1..100 %>

      <div class="alert alert-info" role="alert">Total Charge : 10,000 ￦</div>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :address_for_delivery %>
      <%= f.text_field :address_for_delivery %>
    
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :delivery_date %>
          <%= f.date_field :delivery_date %>
        </div>
        <div class="col-sm-6">
          <%= f.label :delivery_time %>
          <%= f.time_field :delivery_time %>
        </div>
      </div>
      <%= f.submit "Next", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
