<% provide(:title, "Order") %>
<h1>서비스 신청</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@order) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :unit_count, "보관물품의 개수가 얼마나 되나요?" %>
      <%= f.number_field :unit_count, in: 1..10 %>

      <%= f.label :store_weeks, "몇 주간 보관하실 예정이세요?" %>
      <%= f.number_field :store_weeks, in: 1..100 %>

      <div class="alert alert-info" role="alert">Total Charge : 10,000 ￦</div>

      <%= f.label :why_ordering, "보관목적을 간단히 적어주세요!" %>
      <%= f.text_field :why_ordering, placeholder: "계절학기 기숙사퇴소" %>

      <%= f.label :pickup_address, "픽업 장소를 적어주세요!" %>
      <%= f.text_field :pickup_address, placeholder: "예) 서울시 강남구 역삼동 683-34 4층" %>

      <%= f.label :pickup_date, "픽업 요청 날짜를 설정해주세요!" %>
      <%= select_date Date.today, prefix: "order[pickup_datetime]" %>

      <%= f.label :pickup_time, "픽업 요청 시간은 어떻게 되나요?" %>
      <%= select_time Time.now, prefix: "order[pickup_datetime]" %>

      <%= f.submit "Next", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
