<% provide(:title, @order.why_ordering) %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">신청 내역</div>
      <div class="panel-body">
        <form class="form-horizontal order-show" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">보관 목적</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @order.why_ordering %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">보관품 개수</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @order.unit_count %></p>
              <p><span class="help-block"><%= @order.units_info %></span></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">보관 기간</label>
            <div class="col-sm-10">
              <p class="form-control-static">
                <%= @order.pickup_datetime.strftime("%Y-%m-%d") %> ~ <%= @order.delivery_datetime.strftime("%Y-%m-%d") %>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">픽업 장소</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @order.pickup_address %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">회송 장소</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @order.delivery_address %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              <%= @order.status == 0 ? '예상 금액' : '결제 금액' %>
            </label>
            <div class="col-sm-10">
              <p class="form-control-static">￦ <%= number_with_delimiter @order.charge %></p>
              <p class="text-danger">보관품의 부피 또는 무게로 인하여, 추가금액이 발생할 수 있습니다.</p>
            </div>
          </div>
        </form>

        <a href="<%= edit_order_path(params[:id])%>" class="btn btn-success btn-lg pull-left" role="button">
          <span class="glyphicon glyphicon-pencil"></span> 수정하기
        </a>
        <a class="btn btn-success btn-lg pull-right" role="button">
          <span class="glyphicon glyphicon-ok"></span> 주문확인
        </a>
      </div>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <% if @order.units.any? %>
      <div class="panel-heading">보관 물품 <span class="badge badge-lg"><%= @order.units.count %></span></div>
      <div class="panel-body">

        <ol class="units">
          <%= render @units %>
        </ol>
        <% end %>
        <% if current_user.admin? %>
        <a href="/admin/units/new.<%=params[:id]%>" class="btn btn-success btn-lg pull-right" role="button">
          <span class="glyphicon glyphicon-ok"></span> 유닛생성
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>