<% provide(:title, @order.why_ordering) %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">신청 내역</div>
      <div class="panel-body">
        <p>보관 목적 : <%= @order.why_ordering %></p>
        <p>보관품 수 : <%= @order.unit_count %></p>
        <p>보관 기간 : <%= @order.pickup_datetime.strftime("%Y-%m-%d") %> ~ <%= @order.delivery_datetime.strftime("%Y-%m-%d") %></p>
        <p>픽업 장소 : <%= @order.pickup_address %></p>
        <p>회송 장소 : <%= @order.delivery_address %></p>
        <p>예상 금액 : ￦ <%= @order.charge %></p>
      </div>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">보관 내역</div>
      <div class="panel-body">
        <% if @order.units.any? %>
        <h3>Units (<%= @order.units.count %>)</h3>
        <ol class="units">
          <%= render @units %>
        </ol>
        <%= will_paginate @units %>
        <% end %>
      </div>
    </div>
  </div>
</div>