<% provide(:title, '관리자모드') %>
<div class="row" id="admin">

  <%= render 'admin/shared/aside' %>

  <div class="col-sm-10">
    <h1>회원 목록</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= user.name %></td>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td><%= link_to user.phone, "tel:#{user.phone}" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>