<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>일반</th>
      <th>할인</th>
      <th>할인적용</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>보관비</td>
      <td>￦ <%= number_with_delimiter @pricing[:storing_normal] %>
        <p class="help-block">개당보관가(<%= number_with_delimiter Unit::PRICE[:default] %>) x 수량(<%= @pricing[:unit_count] %>) x 기간(<%= @pricing[:store_weeks] %> 주)</p>
      </td>
      <td>￦ <%= number_with_delimiter(@pricing[:storing_normal] - @pricing[:storing_discounted]) %></td>
      <td>￦ <%= number_with_delimiter @pricing[:storing_discounted] %></td>
    </tr>
    <tr>
      <td>배송비</td>
      <td colspan="2"></td>
      <td>￦ <%= number_with_delimiter @pricing[:transport_price] %></td>
    </tr>
    <tr>
      <td><strong>합계</strong></td>
      <td colspan="2"></td>
      <td><strong>￦ <%= number_with_delimiter @pricing[:charge] %></strong></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="2">
        <p>
          <span class="text-danger"><strong>대형물품</strong></span>(냉장고, 매트릭스, 식탁 등..) 또는 <span class="text-danger"><strong>공간렌탈</strong></span>의 경우 <span class="text-danger"><strong>고객센터</strong></span>로 <span class="text-danger"><strong>문의</strong></span> 바랍니다.
        </p>
      </td>
    </tr>
  </tbody>
</table>
