<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= panel[:number] %>">
        <%= panel[:number] %>. <%= panel[:title] %>
      </a>
    </h4>
  </div>
  <div id="collapse<%= panel[:number] %>" class="panel-collapse collapse <%= 'in' if panel[:number] == 1 %>">
    <div class="panel-body">
      <%= render panel[:body][:path] %>
      <% if panel[:number] != 1 %>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= panel[:number]-1 %>" class="btn btn-success btn-lg pull-left" role="button">
          <span class="glyphicon glyphicon-chevron-left"></span>이전
        </a>
      <% end %>
      <% if panel[:number] != 4 %>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= panel[:number]+1 %>" class="btn btn-success btn-lg pull-right" role="button">
          다음<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      <% else %>
        <button class="btn btn-lg btn-success pull-right" name="button" type="submit">
          다음<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      <% end %>
   </div>
  </div>
</div>