<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= panel[:number] %>">
        <%= panel[:number] %>. <%= panel[:title] %>
      </a>
    </h4>
  </div>
  <div id="collapse<%= panel[:number] %>" class="panel-collapse collapse in">
    <div class="panel-body">
      <% panel[:body][:object].each do |key, value| %>
        <%= render panel[:body][:path], object: value %>
      <% end %>
    </div>
  </div>
</div>