<footer class="footer">
  <div class="row well">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("logo.jpg") %>
          <p><strong>아이엠박스</strong></p>
        </div>
        <div class="col-sm-8">
          <ul class="text-left center-block" id="company-info">
            <li>대 표 : 남성훈</li>
            <li>주 소 : 서울시 강남구 역삼동 683-34 2층</li>
            <li>사업자 : 119-22-35955</li>
            <li>핸드폰 : 010-9460-6584</li>
            <li>계좌번호 : 470301-01-095292<li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <nav class="nav">
        <p><strong>정책</strong></p>
        <ul>
          <li><%= link_to "이용약관", "#", target: "_blank" %></li>
          <li><%= link_to "개인정보", "#", target: "_blank" %></li>
        </ul>
      </nav>
    </div>

    <div class="col-sm-3">
      <nav class="nav">
        <p><strong>연락</strong><p>
        <ul>
          <li><%= link_to icon(:envelope, "help@iambox.co.kr"),   'mailto:help@iambox.co.kr' %></li>
          <li><%= link_to icon(:earphone, "02-6091-8008"),   'tel:02-6091-8008' %></li>
          <li><%= link_to "Facebook",   'https://www.facebook.com/iamboxkorea', target: "_blank" %></li>
          <li><%= link_to "Blog", 'http://blog.naver.com/hoon_smile/220085598601', target: "_blank" %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>