<footer class="footer">
  <div class="well">
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag("logo.jpg") %>
        <p><strong>아이엠박스</strong></p>
      </div>

      <div class="col-sm-3">
        <nav class="nav text-left">
          <p><strong>대표 | 남성훈</strong></p>
          <ul>
            <li>서울시 강남구 역삼동 683-34 2층</li>
            <li>사업자번호 | 119-22-35955</li>
            <li>대표번호 | 02-6091-8008</li>
            <li>핸드폰 | 010-9460-6584</li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-3">
        <nav class="nav text-left">
          <p><strong>입금 계좌</strong><p>
          <ul>
            <li><h4>470301-01-095292</h4></li>
            <li>남성훈(아이엠박스)</li>
            <li>국민은행</li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-2">
        <nav class="nav">
          <p><strong>정책</strong></p>
          <ul>
            <li><%= link_to "이용약관", "/policy", target: "_blank" %></li>
            <li><%= link_to "개인정보", "/privacy", target: "_blank" %></li>
          </ul>
        </nav>
      </div>


      <div class="col-sm-2">
        <nav class="nav">
          <p><strong>연락</strong><p>
          <ul>
            <li><%= link_to "help@iambox.co.kr", 'mailto:help@iambox.co.kr' %></li>
            <li><%= link_to "02-6091-8008", 'tel:02-6091-8008' %></li>
            <li><%= link_to "Facebook",   'https://www.facebook.com/iamboxkorea', target: "_blank" %></li>
            <li><%= link_to "Blog", 'http://blog.naver.com/hoon_smile/220085598601', target: "_blank" %></li>
          </ul>
        </nav>
      </div>    
    </div>
  </div>
</footer>