<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag("logo.jpg", id: "logo")<<"아이엠박스", root_path, id: "logo" %>
      <nav>
        <ul class="nav nav-pills pull-right">
          <% unless current_page?(root_path) %>
          <li><%= link_to icon(:home, :홈), root_path %></li>
          <% end %>
          <li><%= link_to "! 사용법", root_path<<"#usage" %></li>
          <li><%= link_to "￦ 요금", root_path<<"#pricing" %></li>
          <li><%= link_to "? 질문", "/qna" %></li>
          <li><%= link_to icon(:envelope, "help@iambox.co.kr"), "mailto:help@iambox.co.kr" %></li>
          <li><%= link_to icon(:earphone, "02-6091-8008"), "tel:02-6091-8008" %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email%><b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to "내 정보", user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "로그아웃", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
          <li><%= link_to icon("user", "로그인"), signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
